body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    overflow: hidden;
    background-color: #32373e;
}

/* Welcome page styling: */

.welcome-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.welcome-logo {
    width: 100%;
    height: 330px;
    background-image: url("/catfish.jpg");
    background-position: center center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-title {
    font-weight: 900;
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

/* Registration form styling: */

.input-registration {
    display: block;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid teal;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    font-family: "Raleway", sans-serif;
    font-size: 1.1rem;
    outline: none;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    margin-bottom: 15px;
}

/* Logo styling */
.logo {
    font-size: 2rem;
}

.mini-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: 3px teal solid; */
}
.maxi-logo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px teal solid;
}
.uploader-logo {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 5px teal solid;
    margin-bottom: 20px;
}

/* App styling: */

.app-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.app-navbar {
    background-color: #27292b;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    padding: 5px;
    width: 100%;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    /* box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.1); */
    box-shadow: 0px 2px 8px 2px #000000;
}
.app-body {
    display: flex;
    flex-direction: row;
}
.app-left {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 88vh;
    padding: 0 30px;
    overflow-y: auto;
}

.app-right {
    width: 600px;
    display: flex;
    flex-direction: column;
    height: 88vh;
    overflow-y: auto;
    /* border-right: 1px #d3d3d3 solid; */
    padding: 0 30px;
    margin-top: 10px;
}

.app-chat {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 88vh;
    padding: 0 30px;
}
.section {
    background-color: #27292b;
    border-radius: 5px;
    margin: 10px 20px;
    padding: 20px;
    box-shadow: 0px 2px 8px 2px #000000;
}

.content {
    background-color: #323436;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friends-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Navbar styling: */

.navbar-icon {
    width: 50px;
    height: 50px;
    background-color: #e4e6eb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-image: linear-gradient(to top, teal, lightsteelblue);
}

a {
    color: black;
}

/* Other profile list styling: */
.hover:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition-duration: 0.6s;
}

/* Bio editor styling: */
.bio-textarea {
    width: 380px;
    height: 200px;
    font-family: "Raleway", sans-serif;
    resize: none;
}

/* Scrollbar styling for app-left container: */

.app-left::-webkit-scrollbar {
    width: 10px;
}
.app-left::-webkit-scrollbar-track {
    background: #32373e;
}
.app-left::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #32373e;
}
.app-left:hover::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #27292b;
}
.app-left::-webkit-scrollbar-thumb:hover {
    background: #1d1d1d;
}

/* Scrollbar styling for app-right container  */

.app-right::-webkit-scrollbar {
    width: 10px;
}
.app-right::-webkit-scrollbar-track {
    background: #32373e;
}
.app-right::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #32373e;
}
.app-right:hover::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #27292b;
}
.app-right::-webkit-scrollbar-thumb:hover {
    background: #1d1d1d;
}

/* Scrollbar for chat  */
.chatMessages::-webkit-scrollbar {
    width: 10px;
}
.chatMessages::-webkit-scrollbar-track {
    background: #27292b;
}
.chatMessages::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #27292b;
}
.chatMessages:hover::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #32373e;
}
.chatMessages::-webkit-scrollbar-thumb:hover {
    background: #808184;
}
